<div class="navbar">
  <div class="container navbar-inner">
    <!-- Logo -->
    <div class="logo" (click)="navigateToHome()">
      <img src="apple-touch-icon.png" alt="Black Shadow Security Logo" />
      <div class="logo-text">
        BLACK SHADOW SECURITY<br />
        &amp; MANPOWER SERVICES
      </div>
    </div>

    <!-- Hamburger -->
    <div class="handle" (click)="toggleNavLinks()">
      <i class="fa-solid" [ngClass]="isMenuOpen ? 'fa-xmark' : 'fa-bars'"></i>
    </div>

    <!-- Nav links -->
    <nav class="nav-links" [class.openMenu]="isMenuOpen">
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="isMenuOpen = false"
        >Home</a
      >
      <a
        routerLink="about"
        routerLinkActive="active"
        (click)="isMenuOpen = false"
        >About</a
      >
      <a
        routerLink="services"
        routerLinkActive="active"
        (click)="isMenuOpen = false"
        >Services</a
      >
      <a
        routerLink="form"
        routerLinkActive="active"
        (click)="isMenuOpen = false"
        >Contact Us</a
      >
    </nav>
  </div>
</div>
