<section class="container">
  <!-- Our services -->
  <section class="our-services">
    <h1 class="section-title">Our Services</h1>
    <p class="section-subtitle">
      “Professional, disciplined, and highly reliable security team.”
    </p>
    <hr />
    <div class="service-content">
      <!-- Security Guard card -->
      <mat-card class="service-card" appearance="outlined">
        <img
          mat-card-image
          src="assets/images/bouncer.jpeg"
          alt="Security Guard"
        />
        <mat-card-header>
          <mat-card-title class="fw-semibold fs-5 text-center"
            >Security Guard</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p class="text-secondary medium pt-4">
            24/7 protection for residential, commercial, and institutional
            premises by trained, vetted professionals.
          </p>
          <mat-chip-set>
            <mat-chip>24/7 Deployed</mat-chip>
            <mat-chip>Trained &amp; Vetted</mat-chip>
            <mat-chip>On-site Supervisor</mat-chip>
          </mat-chip-set>
        </mat-card-content>
      </mat-card>

      <!-- Bouncers card -->
      <mat-card class="service-card" appearance="outlined">
        <img mat-card-image src="assets/svgs/logo.svg" alt="Bouncers" />
        <mat-card-header>
          <mat-card-title class="fw-semibold fs-5">Bouncers</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-secondary medium pt-4">
            Crowd control &amp; access management for events, venues, and
            high-profile gatherings.
          </p>
          <mat-chip-set>
            <mat-chip>Crowd Control</mat-chip>
            <mat-chip>Event Security</mat-chip>
            <mat-chip>Conflict Resolution</mat-chip>
          </mat-chip-set>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <!-- Testimonials-->

  <h1 class="section-title mt-5">Testimonials</h1>
  <p class="section-subtitle">
    Trusted by clients for reliability, professionalism, and peace of mind.
  </p>
  <hr />

  <div class="testimonials">
    <figure class="testimonial-card" *ngFor="let item of testimonials">
      <blockquote class="testimonial-quote">
        {{ item.text }}
        <span class="quote-arrow"></span>
      </blockquote>

      <div class="testimonial-footer">
        <img class="testimonial-avatar" [src]="item.image" [alt]="item.name" />

        <figcaption class="testimonial-author">
          <h5>
            {{ item.name }} <br />
            <span>{{ item.company }}</span>
          </h5>
        </figcaption>
      </div>
    </figure>
  </div>
</section>
