<div class="footer-top-container">
  <div class="container">
    <div class="row footer-top">
      <div class="col-12 col-md-4 mb-4 mb-md-0 about">
        <h3>About Us</h3>
        <p>
          We provide trusted security guard services ensuring safety and peace
          of mind.
        </p>
      </div>

      <div class="col-12 col-md-4 mb-4 mb-md-0 links">
        <h3>Quick Links</h3>
        <div class="link-items">
          <a routerLink="">Home</a>
          <a routerLink="about">About</a>
          <a routerLink="services">Services</a>
          <a routerLink="form">Contact Us</a>
        </div>
      </div>

      <div class="col-12 col-md-4 contact-details">
        <h3>Contact</h3>
        <p>Email: infobss.com</p>
        <p>Phone: +91 98765 43210</p>
      </div>
    </div>
  </div>
</div>

<div class="footer-bottom-container">
  <div class="container">
    <div class="row footer-bottom align-items-center">
      <div class="col-12 col-md-6 text-center">
        <p>Copyright © 2026 BSS. All Rights Reserved.</p>
      </div>

      <div class="col-12 col-md-6 icons text-center text-md-end pr-5">
        <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" aria-label="X"><i class="fab fa-x-twitter"></i></a>
        <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</div>
