<div class="footer-top-container">
  <div class="container">
    <div class="footer-top">
      <div class="about">
        <h3>About Us</h3>
        <p>
          We provide trusted security guard services ensuring safety and peace
          of mind.
        </p>
      </div>

      <div class="links">
        <h3>Quick Links</h3>
        <div class="link-items">
          <a routerLink="">Home</a>
          <a routerLink="about">About</a>
          <a routerLink="services">Services</a>
          <a routerLink="form">Contact Us</a>
        </div>
      </div>
      <div class="contact-details">
        <h3>Contact</h3>
        <p>Email: infobss.com</p>
        <p>Phone: +91 98765 43210</p>
      </div>
    </div>
  </div>
</div>

<div class="footer-bottom-container">
  <div class="container">
    <div class="footer-bottom">
      <p>Copyright © 2026 BSS. All Rights Reserved.</p>
      <div class="icons">
        <a href="#" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" aria-label="X">
          <i class="fab fa-x-twitter"></i>
        </a>
        <a href="#" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" aria-label="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</div>
